<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- fragment name = navbar -->
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="container">
        <a class="navbar-brand" href="/dashboard">🎟️ EventBooking</a>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/events">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bookings">My Bookings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>

</nav>

</body>
</html>