<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Spring Boot Customer Info</title>
</head>

<body>

<table>
    <thead>
        <tr>
            <th>CustomerID</th>
            <th>CustomerName</th>
            <th>Customer PhoneNumber</th>
            <th>Customer Email</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="cus : ${customers}">
            <td th:text="${cus.id}"></td>
            <td th:text="${cus.name}"></td>
            <td th:text="${cus.phone}"></td>
            <td th:text="${cus.email}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>